body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 25%∂;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
}

.logo img {
    max-height: 20px;
    margin: 12px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

ul a {
    text-decoration: none;
}